# Ignore everything in storage and storage_
/storage
/storage_

# Only include storage_/app/public
!/storage_/app
!/storage_/app/public

# But ignore any .key files in public
/storage_/app/public/*.key

# Explicitly ignore logs and framework directories
/storage_/logs
/storage_/framework

# Keep other existing ignores
/.phpunit.cache
/node_modules
/public/build
/public/hot
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
